In [8]:
import pandas as pd

fileCSV = 'C:\\Users\\Van Phu Hoa\\PycharmProjects\\income_outcome\\monthData.csv'
df = pd.read_csv(fileCSV)

In [9]:
df

    necessity  play  savings  education  financialFreedom
0           0     0        0          0                 0
1           0     0        0          0                 0
2           0     0        0          0                 0
3           0     0        0          0                 0
4           0     0        0          0                 0
5           0     0        0          0                 0
6           0     0        0          0                 0
7           0     0        0          0                 0
8           0     0        0          0                 0
9           0     0        0          0                 0
10          0     0        0          0                 0
11          0     0        0          0                 0

In [10]:
df.loc[1]

necessity           0
play                0
savings             0
education           0
financialFreedom    0
Name: 1, dtype: int64

In [11]:
class Test:
    def __init__(self, a, b, c, d, e):
        self.a = a
        self.b = b
        self.c = c
        self.d = d
        self.e = e

abc = Test(df.loc[1])

TypeError: __init__() missing 4 required positional arguments: 'b', 'c', 'd', and 'e'

In [12]:
type(df.loc[1])

pandas.core.series.Series

In [13]:
a, b, c, d, e = df.loc[1]
print(a, b, c, d, e)

0 0 0 0 0