In [21]:
import pandas as pd

fileMonthData = 'C:\\Users\\Van Phu Hoa\\PycharmProjects\\income_outcome\\monthData.csv'
monthData = pd.read_csv(fileMonthData)

In [22]:
monthData

    necessity    play  savings  education  financialFreedom
0           0       0   600000          0                 0
1           0       0        0   -1000000                 0
2           0       0        0          0                 0
3           0       0        0          0                 0
4           0       0        0          0                 0
5           0       0        0          0                 0
6           0       0        0          0                 0
7           0       0        0          0                 0
8           0       0        0          0                 0
9           0       0        0          0                 0
10          0       0        0          0                 0
11          0       0        0          0                 0
12    2750000  500000   750000     500000            500000

In [20]:
monthData.loc[0]

necessity                0
play                     0
savings             300000
education                0
financialFreedom         0
Name: 0, dtype: int64

In [16]:
a, b, c, d, e, f = monthData.loc[1]

In [17]:
a, b, c, d, e, f

(1, 0, 0, 0, -1000000, 0)